* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%;
  /* 1 REM = 16px*/
}
@font-face {
  font-family: Simulador;
  src: url(fonte/Simulador_1.ttf);
}
html,
body {
  font-size: 1.6rem;
}
#LCD{
  position: absolute;
  left: 50%;
  top: 4.6rem;
  transform: translate(-51.5%);
  max-width: 21rem;
  width: 21rem;
  height: 8rem;
  color: #fff;
  font-family: Simulador;
  padding: 0.5rem 0rem 0rem 1rem;
  font-size: 1.53rem;
  line-height: 1.85rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.6rem;
}
.section-1 {
  margin: 0 auto;
  width: 55rem;
}

.PO {
  margin: 0 auto;
  width: 37.4rem;
  height: 32.4rem;
  background-image: url(image/Simulador.png);
}
.section-1 textarea{
  width: 15rem;
  height: 8rem;
  resize: none;
}
.preenchimento, .comandos{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 1rem 0rem;
}
.preenchimento input{
  width: 15rem;
  font-family: 'Courier New', Courier, monospace ;
}
.preenchimento input[type=number] {
  margin-left: 1rem;
}
.comandos button{
  width: calc(55rem / 4);
  height: 2.5rem;
}
.content-left,.content-right{
  width: 25rem;
  text-align: left;
}