* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%;
  /* 1 REM = 16px*/
}
@font-face {
  font-family: Simulador;
  src: url(fonte/Simulador_1.ttf);
}
html,
body {
  font-size: 1.6rem;
}
#LCD{
  position: relative;
  left: 50%;
  top: 4.6rem;
  transform: translate(-51.5%);
  max-width: 21rem;
  width: 21rem;
  height: 8rem;
  color: #fff;
  font-family: Simulador;
  padding: 0.5rem 0rem 0rem 1rem;
  font-size: 1.53rem;
  line-height: 1.85rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.6rem;
}
.section-1,.section-2 {
  margin: 0 auto;
  width: 55rem;
}
.section-2 h1{
  text-align: center;
  position: relative;
}

.PO {
  margin: 5rem auto;
  margin-bottom: 1rem;
  width: 37.4rem;
  height: 32.4rem;
  background-image: url(image/Simulador.png);
}
.preenchimento, .comandos, #checklist div{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
}
#checklist div{
  margin-bottom: 3.5rem;
}
.preenchimento .comandos input{
  width: 15rem;
  font-family: 'Courier New', Courier, monospace ;
}
#btnAddModelo{
  padding: 0rem 0.5rem;
}
.preenchimento input[type=number] {
  margin-left: 1rem;
}
.comandos button{
  width: calc(55rem / 4);
  height: 2.5rem;
}
.content-left,.content-right{
  width: 27rem;
  text-align: left;
}
#novoModelo{
  width: 15rem;
}
#modelo{
  margin-left: 9rem;
}
.miniPO{
  position: relative;
  width: 25rem;
  height: 21.7rem;
  background-image: url(image/Simulador.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 8rem;
}
.LCD{
  text-align: left;
  position: relative;
  left: 50%;
  top: 2rem;
  transform: translate(-51.5%);
  max-width: 21rem;
  width: 14.1rem;
  height: 5.4rem;
  color: #fff;
  font-family: Simulador;
  padding: 0.22rem 0rem 0rem 0.8rem;
  font-size: 0.85rem;
  line-height: 1.25rem;
  letter-spacing: 0.18rem;
  word-spacing: 0.38rem;

}
.miniPO #critica{
  position: relative;
  top: 11rem;
  left: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  color: red;
}
#checklist  button{
  position: relative;
  top: 9rem;
  height: 2.5rem;
  left:6rem
}
p{
  position: relative;
  top: 22rem;
  left: -10rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
}